#sections {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color: rgba(9, 169, 223, 0.2);
}

#backTop
{
  display: none;
  height: 75ox;
  width: 75px;
  border-radius: 50%;
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  background-color: rgba(62,156,53,0.7);
}
#homeSection {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 20%;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #3e9c35;
}

label {
  font-weight: bold;
}

a {
  text-decoration: none;
}

img {
  width: 50px;
  height: 50px;
  align-self: center;
}

button {
  width: fit-content !important;
  align-self: center;
}

body {
  background: url("assets/bodyBG.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#closePopup {
  font-size: medium;
  background-color: bisque;
  color: black;
  position: absolute;
  left: 5px;
  top: 5px;
}

.following {
  border: none;
  background-color: transparent;
  outline: none;
  width: 50px;
  height: 50px;
}
#popupCoins .card{
  width: 20%;
  height: 60%;
}

.card {
  position: relative;
  color: #3e9c35;
  font-weight: bold;
  background-color: transparent;
  width: 120px;
  height: 230px;
  border: 1px double black;
  border-radius: 25px;
  padding-bottom: auto;
  margin: 5px 5px;
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
}

.popupContainer {
  position: absolute;
  cursor: pointer;
  left: 10%;
  width: 80%;
  user-select: none;
  flex-direction: column;
  flex-flow: wrap;
  height: 80%;
}

#popupCoins {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 20%;
  justify-content: center;
  cursor: pointer;
}

#myPopup {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  padding: 5px;
  height: 90%;
  left: 10%;
  right: 10%;
}

p {
  height: fit-content;
}

#myPopup p{
  font-weight: 700;
  font-size: larger;
  font: bolder;
  cursor: pointer;
}
.popupContainer>.popupText {
  cursor: pointer;
  display: flex;
  visibility: hidden;
  left: 20%;
  height: 50%;
  background-color: rgba(185, 185, 185, 0.9);
  color: #130a9b;
  text-align: center;
  border-radius: 10px;
  padding: 5px 5px;
  z-index: 1;
  position: absolute;
  margin: 0 20% 0 20%;
}

.popupText {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 20%;
}

.popupContainer .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
#aboutSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
#aboutSection > p{
  text-align: center;
  color: #3e9c35;
}
#amitech{
  width: 30%;
  height: 30%;
}
#liveChartContainer{
  height: 80vh;
  width: 100vw;
}

#noCoinsToFollow{
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin-top:20%;
  color: red;
  font-style: bold;
  font-size: larger;
  font-weight: 600;
}

.spinner-border{
  margin-top: 30% !important;
}
#loader{
    display: none flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center space-around;
  }

.d-flex{
  visibility: hidden;
  display: flex;
justify-content: center space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.2);
}